<header class="shadow fixed top-0 left-0 w-full z-100">
  <mat-toolbar color="primary">
    <div class="flex justify-between align-center px-1 w-full">
      <div routerLink="/">My App</div>
      <div class="flex">
        <div class="mr-1">
          <button mat-raised-button routerLink="/upload">Upload</button>
        </div>
        <div class="mr-1">
          <button mat-raised-button routerLink="/playlist">Playlist</button>
        </div>
        <div>
          <button mat-raised-button routerLink="/watch">Watch</button>
        </div>
      </div>
    </div>
  </mat-toolbar>
</header>
